.spinner {
  width: 32px;
  height: 32px;
  border-radius: 32px;
  box-sizing: border-box;
  border: 2px groove white;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -16px 0px 0px -16px;
  border-top-color: white;
  border-left-color: rgba(255, 255, 255, 0.9);
  border-bottom-color: rgba(255, 255, 255, 0.8);
  border-right-color: rgba(255, 255, 255, 0.7);
  animation: rotate 1000ms infinite linear;
  transform: translateZ(0px); }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
